@media (min-width: 0px) and (max-width: 768px) {
  .exclusive-we-work {
    padding-top: 100px;
    color: white;
    transform: skew(0deg, 2deg);
  }
  .exclusive-we-work .we-work-p {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .exclusive-we-work .we-work-p p {
    margin: 0;
    font-size: 18px;
    text-align: center;
  }
  .exclusive-we-work h2 {
    margin: 0;
    text-align: center;
  }
  .text-img .texts1,
  .text-img .texts2,
  .text-img .texts3,
  .text-img .texts4,
  .text-img .texts5 {
    padding-top: 50px;
  }
  .text-img .padding-img {
    margin-top: 0px;
  }
  .text-img .text-img-1,
  .text-img .text-img-3 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .text-img .text-img-5 {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .text-img h2 {
    margin: 0;
  }
  .text-img p {
    margin: 0;
    font-size: 18px;
    margin-top: 30px;
  }
  .footer-container {
    padding-top: 100px;
  }
  .slide-bar {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .slide-bar p {
    font-size: 22px;
    margin: 0;
    text-align: center;
  }
  .slide-bar .slide-bar-row {
    padding-bottom: 50px;
  }
  .slide-bar .slider-parent {
    overflow: hidden;
  }
  .slide-bar .slider-middle {
    width: 550%;
  }
  .slide-bar .slider-middle .slider-child {
    position: relative;
    width: 100%;
    height: 100px;
    display: inline-block;
  }
  .slide-bar .slider-middle .slider-child div {
    text-align: center;
    transition: 0.5s;
    transform: translate3d(0%, 0, 0);
    width: 10%;
    height: 100px;
    float: left;
  }
  .slide-bar .slider-middle .slider-child img {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
  }
  .resourses-menu {
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar-custom {
    margin-left: 0px;
  }
  .text-img-4,
  .text-img-2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .text-img-4 h2,
  .text-img-2 h2 {
    text-align: center;
  }
  .text-img-4 p,
  .text-img-2 p {
    text-align: center;
  }
  .text-img-1 h2,
  .text-img-3 h2,
  .text-img-5 h2 {
    text-align: center;
  }
  .text-img-1 p,
  .text-img-3 p,
  .text-img-5 p {
    text-align: center;
  }
  .input-button {
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    display: block;
  }
  .input-button input::placeholder {
    text-align: center;
    opacity: 0.8;
    color: silver;
  }
  .input-button input {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    outline: none;
    color: black;
    line-height: 35px;
    padding-left: 10px;
    width: 90%;
    height: 35px;
  }
  .input-button button {
    margin-top: 30px;
    color: white;
    height: 35px;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    background-color: #296CFC;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .joomag-love-wework {
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../Assets/joomag-love-wework-mobile.svg");
  }
  .text2 p {
    font-size: 16px;
    text-align: center;
    color: white;
  }
  .text1 p {
    margin: 0;
    font-size: 29px;
    color: white;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .exclusive-we-work {
    padding-top: 140px;
    color: white;
    transform: skew(0deg, 2deg);
  }
  .exclusive-we-work .we-work-p {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .exclusive-we-work .we-work-p p {
    margin: 0;
    font-size: 18px;
    text-align: center;
  }
  .exclusive-we-work h2 {
    margin: 0;
    text-align: center;
  }
  .text-img .padding-img {
    margin-top: -50px;
  }
  .text-img .text-img-1,
  .text-img .text-img-3 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .text-img .text-img-5 {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .text-img h2 {
    margin: 0;
  }
  .text-img p {
    margin: 0;
    font-size: 18px;
    margin-top: 30px;
  }
  .footer-container {
    padding-top: 200px;
  }
  .slide-bar {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .slide-bar p {
    font-size: 22px;
    margin: 0;
    text-align: center;
  }
  .slide-bar .slide-bar-row {
    padding-bottom: 50px;
  }
  .slide-bar .slider-parent {
    overflow: hidden;
  }
  .slide-bar .slider-middle {
    width: 210%;
  }
  .slide-bar .slider-middle .slider-child {
    position: relative;
    width: 100%;
    height: 100px;
    display: inline-block;
  }
  .slide-bar .slider-middle .slider-child div {
    text-align: center;
    transition: 0.5s;
    transform: translate3d(0%, 0, 0);
    width: 10%;
    height: 100px;
    float: left;
  }
  .slide-bar .slider-middle .slider-child img {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
  }
  .resourses-menu {
    top: 45px;
    left: -15px;
  }
  .text-img-4 h2,
  .text-img-2 h2 {
    text-align: right;
  }
  .text-img-4 p,
  .text-img-2 p {
    text-align: right;
  }
  .text-img-1 h2,
  .text-img-3 h2,
  .text-img-5 h2 {
    text-align: left;
  }
  .text-img-1 p,
  .text-img-3 p,
  .text-img-5 p {
    text-align: left;
  }
  .input-button {
    display: flex;
    overflow: hidden;
    border-radius: 5px;
  }
  .input-button input::placeholder {
    text-align: left;
    opacity: 0.8;
    color: silver;
  }
  .input-button input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    outline: none;
    color: black;
    line-height: 35px;
    padding-left: 10px;
    width: 300px;
    height: 35px;
  }
  .input-button button {
    margin-top: 0px;
    color: white;
    height: 35px;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    background-color: #296CFC;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .joomag-love-wework {
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../Assets/joomag-love-wework.svg");
  }
  .text2 p {
    font-size: 17px;
    text-align: center;
    color: white;
  }
  .text1 p {
    margin: 0;
    font-size: 36px;
    color: white;
    text-align: center;
  }
  .text-img-2 img {
    width: 242px;
  }
  .bbb {
    text-align: center;
  }
  .warner-brothers {
    text-align: center;
  }
  .walmart img {
    width: 100px;
  }
  .mini img {
    width: 100px;
  }
}
@media (min-width: 992px) {
  .navbar-custom {
    margin-left: 0px;
  }
  .text-img-2 img {
    width: 262px;
  }
  .walmart img {
    width: 120px;
  }
  .mini img {
    width: 120px;
  }
}
@media (min-width: 1440px) {
  .navbar-custom {
    margin-left: 50px;
  }
  .walmart img {
    float: left;
    width: 120px;
  }
  .mini img {
    float: right;
    width: 120px;
  }
}
.navbar-default .navbar-collapse {
  border: none;
}
.globe {
  float: right;
}
.globe li {
  color: white;
  list-style-type: none;
  display: inline-block;
}
.mainNav {
  border: none;
  margin-bottom: 0;
}
.navbar-bg-color {
  background-color: transparent;
}
.navbar-custom li a {
  padding-top: 25px;
  padding-bottom: 0;
}
.logo {
  margin-top: 10px;
  width: 130px;
  height: 40px;
  background-image: url("../Assets/joomag-love-wework.svg");
  background-size: 240% 100%;
}
.resourses:hover .resourses-menu {
  display: block;
}
.resourses-menu {
  display: none;
  padding-left: 0;
  width: 150px;
  position: absolute;
}
.resourses-menu li {
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
}
.resourses-menu li:hover {
  color: silver;
  background-color: #003CFF;
}
.login-btn {
  text-align: center;
  padding-top: 15px;
  margin: 0;
}
.login-btn span {
  color: white;
  padding-right: 10px;
}
.login-btn i {
  padding-right: 10px;
  color: white;
}
.form-parent {
  display: flex;
  justify-content: center;
}
.bg-color {
  max-width: 1440px;
  background-image: linear-gradient(45deg, #29116d, #5c4789);
  background-size: cover;
  padding-top: 145px;
  padding-bottom: 95px;
}
.text1 div {
  padding-top: 50px;
  padding-bottom: 35px;
}
.middle-div-parent {
  overflow: hidden;
  height: 500px;
  margin: auto;
  max-width: 1800px;
  transform: skew(0deg, -2deg);
}
.middle-div {
  top: 31px;
  position: absolute;
  overflow: hidden;
  height: 500px;
  background-image: linear-gradient(45deg, rgba(41, 17, 109, 0.9), rgba(92, 71, 137, 0.9));
  width: 100%;
  margin: auto;
  max-width: 1800px;
  transform: skew(0deg, -2deg);
}
.middle-div-bg {
  top: -31px;
  position: relative;
  height: 562px;
  background-position: bottom;
  transform: skew(0deg, 2deg);
  background-size: 2080px 800px;
  background-image: url("../Assets/image-we-work.jpg");
}
.footer-bg-1 {
  position: relative;
  max-width: 1800px;
  height: 600px;
  background-color: #343433;
}
.footer-bg-1 .white-div {
  border-bottom: 100px solid transparent;
  border-left: 1800px solid white;
  border-top: 0px solid white;
  position: absolute;
  top: -1px;
  right: 0;
}
.footer-bg-1 .footer-main {
  height: 100%;
  background-image: linear-gradient(45deg, #29116d, #5c4789);
  max-width: 1440px;
}
footer .work-hard {
  font-size: 24px;
}
footer p {
  color: white;
  text-align: center;
}
.navbar-custom li a {
  text-align: center;
  color: white !important;
}
.footer-input-button {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 30px;
}
.woerk-hard {
  margin: 0;
}
